*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-box{
    
}

.outer-box .main-area {
    border: 2px solid black;
    margin-top: 10rem;
}

.outer-box .main-area .inner-box {
background-color: rgb(225 213 231);
}

.outer-box .main-area .inner-box .search-form{
   padding: 1rem;
   margin-top: 0.1rem;
}



.outer-box .main-area .inner-box .data-section {
    padding: 0 23rem;
    margin-top: 0.1rem;
}